@use "./partials/global" as *;
@use "./partials/typography" as *; 
@use "./partials/colors" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;



.hero {
    background-image: url(../assets/images/hero-bio.jpg);
    // width: 100%;
    background-size: cover;
    background-position: center;
    height: 31vh;

    display: flex;
    align-items: center;

    &__title {
        color: $color-primary-white;
        margin-left: 5%;
        @include font-header-page;
    }
}

.main {
    box-sizing: border-box;
    width: 100%;
    padding: 1.5rem 2.5% 1rem; //double check

    &__title {
        @include font-header-section;
        margin: 0 0 1rem;
    }

    &__image {
        width: 100%;
        margin: auto;
    }

    &__quote {
        @include font-subheader;
    }

    &__quote-author {
        @include font-subheader;
        margin-top: 0;
    }

    &__subheading {
        @include font-subheader;
    }

    &__body {
        @include font-body;
    }
}

.photo-gallery {
    background-color: $color-secondary-alabaster;
    box-sizing: border-box;
    width: 100%;
    padding: 1.5rem 2.5% 1rem;

    &__title {
        @include font-header-section;
        margin: 0 0 0.5rem;
    }

    &__container {
        @include tablet {

        }
        // display: flex;
        // flex-wrap: wrap;
    }

    &__image {
        // box-sizing: border-box;
        width: 100%;
        margin: 0.5vh 0;
    }
}
